.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-left: 0px;
  padding-left: 0x;
  width: auto;
  border: 2px solid black;
  background-color: rgb(5, 199, 53);
}

.topnav a {
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .WelcomeToPetMe{
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #multiplePetImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #about{
    padding-left: 30px;
    padding-right: 30px;
  }

  #myForm{
    padding-left: 30px;
    padding-right: 30px;
  }

  #startForm {
    background-color:turquoise;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #SillyCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  .fadeImg{
      display: flex;
      justify-content: center;
  }

  h1{
    text-align: center;
  }
  #SillyLlama{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }